body{
    display:flex;
    justify-content: center;
}

.form{
    display: none;
    flex-direction: column;
    width: 20%;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.config{
    width: 30px;
    height: 30px;
}


